@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #080808;
  --color-secondary: #080808;
  --color-text-primary: white;
  --color-text-secondary: #343741;
  --color-border: rgb(211, 218, 230);
}
